<div class="row text-start justify-content-center" style="width:100%; background-color: rgb(46, 46, 46);">
    <div class="col-2 mx-4 " style="width:25%; margin-left:300px !important;">
        <h6 style="font-weight: bold; color:white;">Hire4U</h6>
        <p style="color:white;">Hiring the best talents in the world.</p>
    </div>
    <div class="col-2 mx-4 " style="width:25%;">
        <h6 class="" style="color:white; font-weight: bold;">Quick Links</h6>
        <li class="" style="width:250px; padding-left:10px;">
            <a class="row" style="width:100%;" href="#">Home</a>
            <a class="row" href="#">Jobs</a>
            <a class="row" href="#">History</a>
            <a class="row" href="#">About Us</a>
            <a class="row" href="#">Contact Us</a>
        </li>
    </div>
    <div class="col-2 mx-4" style="width:25%;">
        <h6 style="color:white; font-weight: bold;">Connect With Us</h6>
        <li class="" style="width:250px; padding-left:10px;">
            <a class="row" style="width:100%;" href="#">Facebook</a>
            <a class="row" href="#">Twitter</a>
            <a class="row" href="#">Linked-In</a>
        </li>
    </div>
    <div class="text-center" style="width:100%; background-color: grey; color:white;">
        <p>© 2023 Hire4U. All Rights Reserved.</p>
    </div>
</div>