<app-navbar/>
<div class="d-flex">
<app-welcome-card toCenter="" style="width:55%;" setVis="invisible" Title="Welcome to Hire4U" Description="As a premium employer, you have access to all the premium features of this portal.
Please feel free to navigate through various components of this portal to get maximum benefit.
Do not hesitate to contact us if you have any queries." ButtonText="Browse Talent"/>
<app-welcome-card toCenter="text-center" setVis="visible" Title="Hire Talent" Description="Hire from the pool of talents from around the world." ButtonText="Browse Talent" bgColor="aquamarine"/>
<app-welcome-card toCenter="text-center" setVis="visible" Title="Refer and Earn" Description="Earn discounts on your next hire by referring your fellows." ButtonText="Earn Today" bgColor="beige"/>
<app-welcome-card toCenter="text-center" setVis="visible" Title="Join Employers' Club" Description="get more benefits by joining a community of your employers." ButtonText="Join Club" bgColor="lavender"/>
</div>
<div class="row" style="background-color: rgb(253, 242, 238); height:350px;">
<h4 class="mt-3 ms-2 row" style="font-weight: bold;">Trending talents</h4>
<div class="d-flex" style="width:18%; margin-left:-18px;" *ngFor="let name of names; let i = index">
  <app-talent-card
    [name]="name"
    [job]="jobs[i]"
    [rate]="rates[i]"
    [path]="images[i]"
    [bio]="bios[i]"
    color="aquamarine"
    class="col my-3"
  ></app-talent-card>
</div>
</div>
<app-footer/>